html {
    height: 100%;
    margin: 0;
}

body{
    background-color: #5c5c5c;
    font-family: sans-serif;
    font-size: 18px;
}

.login-page {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border: 1px solid #808B96 ;
    border-radius: 30px;
    background-color: #5DC1B9;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.text-center {
    text-align: center;
}

input {
    margin-top: 8px;
    margin-bottom: 10px;
    height: 10px;
    padding: 10px;
    border: 1px solid 10px;
    border-radius: 10px;
    width: 150px;
}

form {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

button {
    font-weight: bold;
    background-color: #85C1E9;
    height: 40px;
    border: 0;
    text-transform: uppercase;
    min-width: 100px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.logout{
    margin-left: 100px;
    padding: 10px 20px;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #D1F2EB;
    padding: 20px;
    box-shadow: 0 0 10px #E5E8E8 (0, 0, 0, 0.1);
    border-radius: 8px;
}

.dashboard-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100%;
}

.dashboard-container {
    max-width: 400px;
    width: 100%;
    padding: 25px;
    border: 1px solid #808B96 ;
    border-radius: 30px;
    background-color: #5DC1B9;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.dashboard-content {
    margin-top: 20px; 
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: #D1F2EB; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.transactions-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.transactions-table th,
.transactions-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
.transactions-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.transactions-table th,
.transactions-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.transactions-table tr:nth-child(even) {
    background-color: #ECF0F1; 
}

.transactions-table tr:nth-child(odd) {
    background-color: #D5DBDB; 
}

.dialog {
    display: none;
    position: absolute;
    overflow: auto;
    animation: slideFromTop 0.3s ease-in-out;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    border: 3px solid #ccc;
    border-radius: 15px;
    background-color: #fff ;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.dialog.show {
    display: flex;
}

.dialog-content h2 {
    margin-top: 0;
}

.dialog-content label {
    display: block;
    margin-bottom: 5px;
}

.dialog-content input {
    width: calc(100% - 12px);
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid #5DC1B9;
    border-radius: 3px;
}

.dialog-buttons {
    margin-top: 15px;
}

.dialog-buttons button {
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
}

.button-alt {
    background-color: #ccc;
}


@keyframes slideFromTop {
    from {
        bottom: 300px;
        opacity: 0;
    }
    to {
        bottom: 0;
        opacity: 1;
    }
}